body {
    margin: 0;
    padding: 0;
    background: white;
}

.content {
    position: relative;
    width: 70vw;
    height: 80vh;
    top: 1vh;
    display: block;
    margin: auto;
}

.play {
    position: relative;
    width: fit-content;
    display: block !important;
    margin: 0 auto;
    margin-top: 50px;
    width: 100px;
}

.progress {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0 !important;
}

.progress-bar {
    transition: all .2s;
}

.error {
    opacity: 0;
}